.tool:hover {
	background-color: dodgerblue;
}
#drawHere {
	font-size: larger;
}
.active {
	background-color: green;
	color: white;
}
.active:hover {
	color: white;
}
.form-control {
	display: unset !important;
}
.hide {
	display: none !important;
}
.colorPicker {
	border-radius: 100%;
	border: none;
	outline: none;
	position: relative;
	top: 14px;
	height: 3rem;
	width: 3rem;
	-webkit-appearance: none;
}
.colorPicker:-webkit-color-swatch {
	border: none;
	border-radius: 100%;
}
* {
	-webkit-user-select: none;
	user-select: none;
}
